@import url('https://fonts.googleapis.com/css?family=Revalia');


.navbar {
    font-family: 'Revalia';
    text-align: center;
    color:rgb(0, 0, 2);
    background-color: #025127;
}

#chartContainer {
    margin-top:0;
    width:100%;
    margin-bottom:0;
}

.key-stats{
    padding-top: 400px;
    padding-bottom: 150px;
   
}

#breakdownpercentage {
    font-family: 'Revalia';

}

#breakdownPower {
    font-family: 'Revalia';
}


ul
{
  text-align: left;
  list-style:circle;
  text-transform: capitalize;
}

footer {
    position: fixed;
    padding-top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #025127;
    font-family: 'Revalia';

}

footer ul {
    list-style: none;
    text-align: center;
    padding-top: 0;
}